body {
  margin: 20px;
}
          body {

    margin: 0;

    font-family: Arial, sans-serif;

    background: #eef1ff;

}

/* Header */

header {

    display: flex;

    align-items: center;

    gap: 15px;

    padding: 20px;

    background: white;

    border-bottom: 3px solid #b4c3ff;

}

.logo-kelas {

    width: 85px;

    height: 85px;

    border: 3px solid #333;

    display: flex;

    justify-content: center;

    align-items: center;

    font-weight: bold;

    background: #fafafa;

}

/* Navigation */

nav {

    display: flex;

    justify-content: center;

    background: #4c6ef5;

    padding: 12px;

    gap: 10px;

    flex-wrap: wrap;

}

nav button {

    background: white;

    padding: 10px 18px;

    border-radius: 6px;

    border: none;

    cursor: pointer;

    font-weight: bold;

    transition: 0.2s;

}

nav button:hover {

    background: #e5e9ff;

}

/* Halaman */

.page {

    display: none;

    padding: 20px;

}

.page.active {

    display: block;

}

/* Jadwal */

.schedule-box {

    background: white;

    padding: 15px;

    margin-bottom: 15px;

    border-left: 6px solid #4c6ef5;

    border-radius: 8px;

}

/* Footer */

footer {

    text-align: center;

    padding: 15px;

    background: white;

    border-top: 2px solid #b4c3ff;

    margin-top: 40px;

}